.buttons {
  width: 600px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  width: 160px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f0efef;
  font-family: "Nunito", sans-serif;
}

.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.1s;
}

.button:active {
  border: 5px solid black;
}

.button.setgrid:hover {
  background-color: white;
  background-image: linear-gradient(black 1px, transparent 1px), linear-gradient(90deg, black 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  -webkit-transition: 0.2s;
}

.button.draw:hover,
.draw.--active {
  color: white;
  background-color: #333232;
  -webkit-transition: 0.2s;
}

.button.erase:hover,
.erase.--active {
  color: white;
  background-color: white;
  -webkit-transition: 0.2s;
  -webkit-animation: text_color_change 1s infinite alternate;
          animation: text_color_change 1s infinite alternate;
}

.button.color:hover,
.color.--active {
  color: white;
  -webkit-animation: color_change 0.7s infinite alternate;
  animation: color_change 0.7s infinite alternate;
  -webkit-transition: 0.5s;
}

@-webkit-keyframes text_color_change {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes text_color_change {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@-webkit-keyframes color_change {
  from {
    background-color: blue;
  }
  to {
    background-color: red;
  }
}

@keyframes color_change {
  from {
    background-color: blue;
  }
  to {
    background-color: red;
  }
}

@media only screen and (max-width: 700px) {
  .buttons {
    width: 95%;
  }
  .button {
    font-size: 10px;
    width: 25%;
    height: 20px;
    margin: 0;
    margin-left: 5%;
    margin-top: 10px;
  }
  .button:hover {
    border: 1px solid black;
  }
}

.title {
  width: 600px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px double #424141;
  border-radius: 5px;
}

.title h2 {
  font-size: 50px;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .title {
    width: 95%;
  }
  .title h2 {
    font-size: 25px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  border: 3px double #242121;
  width: 700px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: white;
  -webkit-transition: 1.2s;
}

.box {
  border: 0.0002px solid rgba(0, 0, 0, 0.048);
  -webkit-transition: 0.1s;
}

.black.box {
  background-color: #1a1717;
  -webkit-transition: 0.09s;
}

.red.box {
  background-color: #cf2323;
  -webkit-transition: 0.09s;
}

.green.box {
  background-color: #23bb1e;
  -webkit-transition: 0.09s;
}

.blue.box {
  background-color: #1a35d1;
  -webkit-transition: 0.09s;
}

.yellow.box {
  background-color: #e7db30;
  -webkit-transition: 0.09s;
}

@media only screen and (max-width: 700px) {
  .grid {
    width: 95%;
    height: 40%;
  }
}
/*# sourceMappingURL=main.css.map */